
<html>
    <head>
        
    </head>
    <body>
        <ul style="list-style-type: none;">
            <li><a href="./">Add</a></li>
            <li><a href="./display">Display</a></li>
        </ul>
        <br><br>
        <form method="POST">
            Roll: <input type="number"  value="<%=stu_detail.roll%>" name="New_Roll" required /><br>
            Name: <input type="text"  value="<%=stu_detail.name%>" name="New_Name" required /><br>
            <input type="submit" value="Update" />
        </form>
    </body>
</html>