<!DOCTYPE HTML>
<html>
    <head>

    </head>
    <body>
        <ul style="list-style-type: none;">
        <li><a href="./">Add</a></li>
        <li><a href="./display">Display</a></li>
        </ul>
        <br><br>
        <form method="post" action="http://localhost:8000/add">
            Enter Roll NO:<input type="number" name="roll" placeholder="Enter Your Roll number"/><br />
            Enter Name:<input type="text" name="name" placeholder="Enter Your Name" /><br />
            <input type="submit" value="send" />
        </form>
    </body>
</html> 